.google-icon {
    color: transparent;
    background: linear-gradient(45deg, #4285F4 25%, #DB4437 25%, #DB4437 50%, #F4B400 50%, #F4B400 75%, #0F9D58 75%);
    -webkit-background-clip: text;
    background-clip: text;
  }
  